/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 vertical-align:baseline;
 background:transparent;
}

body {
 /* プロジェクトによって変動 */
 min-width: 1000px;
 color: #333;
 line-height: 1.6;
 font-weight: 400;
 font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;

 width: 100%;
 font-smoothing: antialiased;
 font-variant-numeric: tabular-nums;
 /* safari hover対策 */
 -webkit-font-smoothing: antialiased;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

ul, ol {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 vertical-align:baseline;
 text-decoration: none;
 color: inherit;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

img {
 vertical-align: bottom;
 line-height: 1.0;
}

button {
 line-height: 1.0;
 background-color: transparent;
 border: none;
 cursor: pointer;
 outline: none;
 padding: 0;
 appearance: none;
}

/* ここまでreset.css */

/* ここからstyle.css */
.wrapper{
  max-width: 100%;
  margin: 0 auto;
}
/* ここからナビバー */
.t-nav-list{
  display: flex;
  justify-content: flex-end;
  background: #000;
  color: #ccc;
  height: 70px;
  list-style-type: none;
}
.t-nav-list a{
  display: block;
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}
.t-nav-list a:hover {
  background-color: #8cae47;
  }
  /* ここからタイトル */
.title{
  position: absolute;
  color: #fff;
  margin: 5px 10px;
}
/* ここからトップスライダー */
.t-slider{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.slider-outer{
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}
.slider-inner{
  position: absolute;
  width: 100%;
  height: 600px;
}
.slide-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.fade-enter-active, .fade-leave-active {
  transition: all 2s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.t-subtitle{
  position: relative;
  top: 75%;
  left: 5%;
  background-color:rgba(255,255,255,0.7);
  width: 350px;
  height: 100px;
}
.t-subtitle-comment{
  position: absolute;
  top: 70%;
  left: 55%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  width: 350px;
  height: 100px;
  font-weight: bold;
  font-size: 20px;
  /* text-align: center;一応BOX内の文字も中央寄せ */
}
/* ここからリストページ */
.container{
  background: rgb(142, 192, 229);
  /* rgb(255, 228, 150)との交互に */
  color: #333;
}
.search{
  display: flex;
  flex-flow: row;
  padding-top: 20px;
}
.main{
  width: 70%;
  margin: 0 80px 0 30px;
  /* background: chartreuse; */
}
.l-result span{
  font-weight: bold;
}
.l-result-sub{
  display: flex;
  justify-content: space-between;
}
.l-list li{
  /* margin: 10px 0; */
  padding: 10px 0;
  border-bottom: 3px dotted #ccc;
}
.l-content{
  display: flex;
}
.l-img img{
  width: 200px;
}
.l-detail{
  margin-left: 20px;
}
.l-title{
  color: #0066CC;
}
.l-fav{
  background: beige;
  display: inline-block;
}
.l-page{
  margin: 20px 0;
  text-align: center;
}
/* ここからサイドバー */
.side{
  width: 30%;
  margin: 0 30px 0 0;
  /* background: skyblue; */
}
/* ここからフリーワード検索 */
.t-c-search{
  border-bottom: 2px dotted #ccc;
  background: #fff;
}
h2{
  margin-bottom: 30px;
}
.word-submit{
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  width: 30px;
  height: 50%;
  z-index: 1;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.word-search{
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 10px 8px 40px;
  font-size: 15px;
  background: url(../images/search.jpg) 10px center no-repeat;
  background-color: beige;

  background-size: 18px;
  outline: none;
}
/* ここからカテゴリ検索 */
.category{
  border-bottom: 2px dotted #ccc;
  background: #fff;
  margin-top: 20px;
}
.t-m-category{
  display: flex;
  flex-wrap: wrap;
}
.t-m-category li{
  background:rgb(230, 230, 230, 0.8);
  margin: 10px;
  padding: 10px;
}
/* ここからランキング検索 */
/* LIST,DETAILはランキング消すのアリ */
.ranking{
  background: #fff;
  margin-top: 20px;
}
.t-s-search{
  margin: 0 10px 10px;
  padding-top: 10px;
  display: inline-block;
}
.t-s-search li{
  background:rgb(230, 230, 230, 0.6);
  margin-bottom: 10px;
}
.ranking_1{
  /* border-bottom: 1px dotted #000; */
}
.ranking_2{
  /* border-bottom: 1px dotted #000; */
}
.ranking_3{
  /* border-bottom: 1px dotted #000; */
}
.ranking_1::before{
  content: "1位";
}
.ranking_2::before{
  content: "2位";
}
.ranking_3::before{
  content: "3位";
}
/* LIST,DETAILはランキング消すのアリ */

/* ここからフッター */
footer{
  color: #fff;
  background:#000; 
  text-align: center;
}
