<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TOP 邦ロックコンサル</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script type="text/javascript" src="../main.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrapper">
    <!-- headerは固定 -->
    <header class="t-header">
      <h1>
        <a href="#" class="title">J-Rock Consultant</a>
      </h1>
      <nav>
        <ul class="t-nav-list">
          <li>
            <a href="#">ABOUT</a>
          </li>
          <li>
            <a href="#">CONTACT</a>
          </li>
        </ul>
      </nav>
      <div class="t-slider">
        <div id="app">
          <div class="slider-outer">
            <transition name="fade">
              <div class="slider-inner" :key="idx" v-for="(slide, idx) in slides" v-if="current_slide == idx">
                <img class="slide-img" v-bind:src="slides[idx].img" :key="slides[idx].img" width="450" height="300">
              </div>
            </transition>
            <div class="t-subtitle">
              <div class="t-subtitle-comment">
                <p>ようこそ、邦ロックの世界へ！</p>
                <p>邦ロックのあらゆる「困った」を即解決！</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </header>
    <!-- headerは固定 -->
    <div class="container">
      <div class="t-c-search">
        <h2>フリーワード検索</h2>
        <form action="../LIST/index.html">
          <button type="submit" class="word-submit"></button>
          <input type="text" class="word-search" placeholder="キーワードを入力ください" name="freeword">
        </form>
      </div>
      <div class="other_search">
        <div class="main">
          <h2>カテゴリ検索</h2>
          <ul class="t-m-category">
            <li>
              <a href="">フェス 初心者</a>
            </li>
            <li>
              <a href="">ライブハウス 初心者</a>
            </li>
            <li>
              <a href="">フェス 注意点</a>
            </li>
            <li>
              <a href="">ツーステ</a>
            </li>
            <li>
              <a href="">ROCKIN'ON JAPAN</a>
            </li>
            <li>
              <a href="">日本の米は世界一</a>
            </li>
          </ul>
        </div>
        <div class="side">
          <h2>「めっちゃE」ランキング検索</h2>
          <ul class="t-s-search">
            <li class="ranking_1">
              <a href="#">【失敗しない！】初心者必見！フェスに持っていくもの10選！
              </a>
            </li>
            <li class="ranking_2">
              <a href="#"> 【これだけ気を付けよう！】フェスを楽しむための注意点3選！</a>
            </li>
            <li class="ranking_3">
              <a href="#">【完全攻略！】初心者邦ロックロードマップ！</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright© 2020 Japanese Rock Consultant All Rights Reserved.</p>
      <div>
        <a href="#">
          <img src="../images/twitter.jpg" alt="">
        </a>
        <a href="#">
          <img src="../images/instagram.jpg" alt="">
        </a>
      </div>
    </footer>
  </div>
</body>
</html>